@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #020d0c;
  color-scheme: dark;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}
